<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>950</integer>
    <key>capHeight</key>
    <integer>700</integer>
    <key>copyright</key>
    <string>Copyright 2021 The Moderustic Project Authors (https://github.com/Tural/moderustic)</string>
    <key>descender</key>
    <integer>-250</integer>
    <key>familyName</key>
    <string>Moderustic</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>0</integer>
        <key>y</key>
        <integer>250</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>openTypeHeadCreated</key>
    <string>2024/07/05 14:34:03</string>
    <key>openTypeHheaAscender</key>
    <integer>950</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Tural Alisoy</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.instagram.com/taft</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeNameManufacturer</key>
    <string>TAFT Foundry</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.taft.work</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>ExtraBold</string>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>280</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>50</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>950</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>TAFT</string>
    <key>openTypeOS2WeightClass</key>
    <integer>800</integer>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>1067</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>401</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-20</integer>
      <integer>0</integer>
      <integer>500</integer>
      <integer>520</integer>
      <integer>700</integer>
      <integer>720</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Moderustic-ExtraBold</string>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-220</integer>
      <integer>-200</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-75</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Moderustic ExtraBold</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>styleName</key>
    <string>ExtraBold</string>
    <key>trademark</key>
    <string>Moderustic is a trademark of TAFT Foundry.</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>2</integer>
    <key>versionMinor</key>
    <integer>120</integer>
    <key>xHeight</key>
    <integer>500</integer>
  </dict>
</plist>
