<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Decyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-50</integer>
    <key>Hardcyr</key>
    <integer>-40</integer>
    <key>public.kern2.T</key>
    <integer>-20</integer>
  </dict>
  <key>Germandbls</key>
  <dict>
    <key>public.kern2.T</key>
    <integer>-30</integer>
  </dict>
  <key>Tsecyr</key>
  <dict>
    <key>public.kern2.C1</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-50</integer>
  </dict>
  <key>Ucyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-80</integer>
    <key>Elcyr</key>
    <integer>-70</integer>
    <key>decyr</key>
    <integer>-110</integer>
    <key>public.kern2.A1</key>
    <integer>-50</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>a.ss01</key>
    <integer>-0</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-60</integer>
    <key>public.kern2.a</key>
    <integer>-50</integer>
  </dict>
  <key>quoteleft</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-40</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-40</integer>
    <key>public.kern2.C1</key>
    <integer>-30</integer>
  </dict>
  <key>tecyr</key>
  <dict>
    <key>decyr</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>Checyr</key>
    <integer>-50</integer>
    <key>public.kern2.C1</key>
    <integer>-30</integer>
    <key>public.kern2.T</key>
    <integer>-60</integer>
    <key>public.kern2.Y1</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.C</key>
  <dict>
    <key>Decyr</key>
    <integer>-60</integer>
    <key>quoteright</key>
    <integer>-20</integer>
    <key>public.kern2.A1</key>
    <integer>-50</integer>
    <key>public.kern2.Y1</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.F</key>
  <dict>
    <key>Decyr</key>
    <integer>-120</integer>
    <key>Elcyr</key>
    <integer>-80</integer>
    <key>decyr</key>
    <integer>-140</integer>
    <key>elcyr</key>
    <integer>-70</integer>
    <key>public.kern2.A1</key>
    <integer>-100</integer>
    <key>public.kern2.C1</key>
    <integer>-20</integer>
    <key>public.kern2.J</key>
    <integer>-50</integer>
    <key>public.kern2.a</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.G</key>
  <dict>
    <key>public.kern2.Y1</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>Ucyr</key>
    <integer>10</integer>
    <key>public.kern2.Alphatonos</key>
    <integer>10</integer>
  </dict>
  <key>public.kern1.L</key>
  <dict>
    <key>quoteright</key>
    <integer>-70</integer>
    <key>public.kern2.C1</key>
    <integer>-20</integer>
    <key>public.kern2.T</key>
    <integer>-90</integer>
    <key>public.kern2.V1</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.Ljecyr</key>
  <dict>
    <key>Elcyr</key>
    <integer>-30</integer>
    <key>Ucyr</key>
    <integer>-50</integer>
    <key>public.kern2.T</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>Decyr</key>
    <integer>-120</integer>
    <key>public.kern2.A1</key>
    <integer>-80</integer>
    <key>public.kern2.Alphatonos</key>
    <integer>20</integer>
    <key>public.kern2.J</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.T1</key>
  <dict>
    <key>Decyr</key>
    <integer>-80</integer>
    <key>public.kern2.A1</key>
    <integer>-60</integer>
    <key>public.kern2.Alphatonos</key>
    <integer>10</integer>
    <key>public.kern2.J</key>
    <integer>-110</integer>
    <key>public.kern2.a</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>Germandbls</key>
    <integer>-30</integer>
    <key>public.kern2.A1</key>
    <integer>-30</integer>
    <key>public.kern2.J</key>
    <integer>-70</integer>
    <key>public.kern2.a</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.Y</key>
  <dict>
    <key>public.kern2.A1</key>
    <integer>-60</integer>
    <key>public.kern2.C1</key>
    <integer>-30</integer>
    <key>public.kern2.J</key>
    <integer>-100</integer>
    <key>public.kern2.a</key>
    <integer>-80</integer>
    <key>public.kern2.f</key>
    <integer>-50</integer>
    <key>public.kern2.i</key>
    <integer>-20</integer>
    <key>public.kern2.s1</key>
    <integer>-40</integer>
    <key>public.kern2.u</key>
    <integer>-30</integer>
    <key>public.kern2.v</key>
    <integer>-50</integer>
    <key>public.kern2.x</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.a.ss021</key>
  <dict>
    <key>public.kern2.s1</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.b1</key>
  <dict>
    <key>decyr</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.decyr.ss081</key>
  <dict>
    <key>hardcyr</key>
    <integer>-40</integer>
    <key>tecyr</key>
    <integer>-50</integer>
    <key>public.kern2.a</key>
    <integer>-50</integer>
    <key>public.kern2.germandbls1</key>
    <integer>-50</integer>
    <key>public.kern2.u</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.f1</key>
  <dict>
    <key>parenright</key>
    <integer>20</integer>
  </dict>
  <key>public.kern1.germandbls</key>
  <dict>
    <key>decyr</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.hardcyr</key>
  <dict>
    <key>decyr</key>
    <integer>-20</integer>
    <key>public.kern2.decyr.ss08</key>
    <integer>-40</integer>
    <key>public.kern2.x</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.l</key>
  <dict>
    <key>checyr</key>
    <integer>-40</integer>
    <key>tecyr</key>
    <integer>-40</integer>
    <key>public.kern2.a</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>decyr</key>
    <integer>-60</integer>
    <key>public.kern2.decyr.ss08</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.v1</key>
  <dict>
    <key>decyr</key>
    <integer>-50</integer>
  </dict>
</dict>
</plist>
